.tiptap.ProseMirror {
  div[data-youtube-video='true'] {
    position: relative;
    width: 100%;
    margin: 1rem 0;
    overflow: hidden;
    border-radius: 0.75rem;
    aspect-ratio: 16 / 9;

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      display: block;
      background-color: #000;
    }
  }
}
