name: CI/CD - DockerFile

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull latest code
        run: |
          cd /home/ubuntu/G-PSF-Dashboard
          git fetch origin main
          git reset --hard origin/main

      - name: Build and run with Docker Compose
        run: |
          cd /home/ubuntu/G-PSF-Dashboard
          docker compose up -d --build
